<div class="container" id="page-top">
  <!-- Nav Section -->
  <%= partial 'partials/nav' %>
  <!-- Top Section -->
  <%= partial 'partials/top' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Skill Section -->
  <%= partial 'partials/skills' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
